---
const { title } = Astro.props;
import SkipLink from "@components/SkipLink.astro";
import MagneticCursor from "@components/MagneticCursor.astro";
import CSSReset from "../global/CSSReset.astro";
import Theme from "../global/Theme.astro";
import { ClientRouter } from "astro:transitions";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://use.typekit.net" />
    <link rel="stylesheet" href="https://use.typekit.net/sva7bmh.css" />
    <title>{title}</title>
    <CSSReset />
    <Theme />
    <ClientRouter />
  </head>
  <body>
    <SkipLink />
    <main id="main-content">
      <slot />
    </main>
    <MagneticCursor />
  </body>
</html>
